.vs
Saved
Binaries
DerviedDataCache
Intermediate
Build
.vsconfig
Content/MilitaryWeapDark
Content/UltraDynamicSky
Content/StarterContent
Content/Realistic_Starter_VFX_Pack_Vol2
Content/AnimStarterPack
Content/FPS_Weapon_Bundle